{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Me. I am Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Mauli V S</h3>
                <p class="lead" style="font-weight: 350;"> I am an Student, currently
                    pursuing B Tech Artificial Intelligence And Data Science at Karpagam college of engineering in Coimbatore.
                    To gain a hands on experience from both deep learning and web development i have developed this product.
                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:maulivs2004@gmail.com'><img
                        src="https://wp-pa.phonandroid.com/uploads/2018/08/gmail.png" height="40" width="40"></a> :
                maulivs2004@gmail.com<br><br>
                <a target="_blank" href='mauli-v-s.medium.com'><img
                        src="https://cdn4.iconfinder.com/data/icons/social-media-2210/24/Medium-512.png" height="44"
                        width="44"></a> : mauli-v-s<br><br>
                <a target="_blank" href='https://github.com/mauli-v-s'><img
                        src="https://cdn2.iconfinder.com/data/icons/font-awesome/1792/github-512.png" height="40" width="40"></a> :
                        mauli-v-s<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/mauli-v-s'><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> :
                mauli-v-s<br>
            </div>
        </div>
    </div>
</div>

{% endblock body %}